<% if @article.errors.any? %>
  <div>
    <h2>The following errors prevented the articles from saving the article</h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>