<h1>EDIT YOUR PROFILE </h1>

<%= render 'shared/errors', obj:@user%>
<%= render 'users/form' %>

<table>
  <tr>
    <td><%=button_to "ALL USERS", users_path, method: :get%></td>
    <td><%=button_to "BACK", users_path(@user.id), method: :get%></td>
  </tr>
</table>