<h1 align="center">WELCOME TO ALPHA BLOG</h1>
<%#debugger %>


<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>
<h3 align="center">You can write and publish your articles on this blog page</h3>

<table align="center">
  <tr>
    <td><%=button_to "VIEW ARTICLES", articles_path, method: :get %></td>
    <td><%=button_to "SIGN UP", signup_path , method: :get%></td>
    <td><%=button_to "LOG IN", login_path, method: :get %></td>
<!--    <td><%#=button_to "ABOUT", about_path, method: :get %></td>-->
  </tr>
</table>